mixin footer()
	+b.FOOTER.footer
		+e.container.container
			+img('img/footer-img-1.png').img-left
			+img('img/footer-img-2.png').img-right
			+e.row.row
				.col-md
					+e.item
						h5 Контакты РДШ
						+e.content(href="tel:+74996730200")
							+e.icon
								+icon('call')
							| +7 499 673-02-00
						+e.content(href="mailto:directorate-skm@yandex.ru")
							+e.icon
								+icon('mail')
							| directorate-skm@yandex.ru

						//- +e.content
						//- 	+e.icon
						//- 		+icon('location')
						//- 	| 119048, Москва, ул.Усачева, д.64, подъезд 4
				.col-md
					+e.item
						h5 Контакты ВДЦ «Орлёнок»
						+e.content(href="tel:+74996730200")
							+e.icon
								+icon('call')
							| +7 499 673-02-00
						+e.content(href="mailto:directorate-skm@yandex.ru")
							+e.icon
								+icon('mail')
							| directorate-skm@yandex.ru
				.col-md
					+e.item
						h5 Мы в социальных сетях
						+e.content(href="tel:+74996730200")
							+e.icon
								+icon('vk')
							| ВКонтакте
						+e.content(href="tel:+74996730200")
							+e.icon
								+icon('telegram')
							| Телеграм
			+e.links
				+e.site(href="рдш.рф" target="_blank", rel="noopener noreferrer") рдш.рф
				p 2022
				+e.politics(href="#") Политика Конфиденциальности