mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.container.container
			+topLine()
			+img('img/dots.png').dots
			+e.row.row
				.col-lg-5
					h1 Программа стартовала
					.timer
						.timer__items
							.timer__item.timer__days 00
							.timer__item.timer__hours 00
							.timer__item.timer__minutes 00
							.timer__item.timer__seconds 00
					+reg()
				.col-lg-7
					+e.slider--js.swiper
						.swiper-wrapper
							-for(var i = 1; i <= 4; i++)
								+e.slide.swiper-slide
									+e.img-wrap.bg-wrap
										+pic(`slide-${i}.jpg`,'bg').picture-bg
					+e.slider-thumbs--js.swiper
						.swiper-wrapper
							-for(var i = 1; i <= 4; i++)
								+e.slide.swiper-slide
									+e.img-wrap--thumbs.bg-wrap
										+pic(`slide-${i}.jpg`,'bg').picture-bg
	// end headerBlock