
	// start .sContent
.sContent {
	--sPT: #{rem(45)};
	--sPB: #{rem(45)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(65.5)};
	}
	&__row {
		--bs-gutter-y: #{rem(20)};
	}
	h2 {
		font-weight: 800;
		line-height: 1.3em;
		margin-bottom: rem(18);
		@include  rfs(40px);
		span {
			color: $purple;
		}
	}
	&__hidden-block {
		display: none;
	}
	&__main  {
		color: $gray-600;
		line-height: 1.5em;
		ul{
			margin-left: rem(20);
		}
		p{

			margin-bottom: rem(16);
			&:not(:last-of-type) {
				margin-bottom: rem(30);
			}
		}
	}
	&__showmore {
		@include mt;
		cursor: pointer;
		text-decoration: none;
		color: $gray-900;
		font-size: rem(14);

		display: flex;
		align-items: center;
		&:hover {
			color: $primary;
		}
		.icon {
			color: $gray-500;
			font-size: rem(16);
			margin-left: rem(4);
		}
	}
	&__item {
		background-color: #fff;
		padding: rem(20);
		border-radius: 28px 0px 28px 28px;
		position: relative;
		display: block;
		text-decoration: none;
		&:not(:hover) {
			color: $gray-900;
		}
		@include media-breakpoint-up(lg) {
			padding: rem(40);
		}
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		p {
			font-weight: 700;
			line-height: 1.75em;
			margin-bottom: 0;
			span {
				color: $cyan;
			}
		}
		img {
			position: absolute;
			z-index: -1;
		}
		.wing-left {
			bottom: -81px;
			left: -146px;
		}
		.wing-right {
			bottom: -31px;
			right: -113px;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContent