mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6
					+b.section-title
						h2 Программы развития социальной активности обучающихся начальных классов   <br>
							span «Орлята России»
					+e.main
						p Программа разработана в&nbsp;рамках реализации федерального проекта &laquo;Патриотическое воспитание граждан Российской Федерации&raquo; национального проекта &laquo;Образование&raquo; с&nbsp;целью удовлетворения потребностей младших школьников в&nbsp;социальной активности и&nbsp;направлена на&nbsp;развитие и&nbsp;поддержание интереса к&nbsp;учебным и&nbsp;внеурочным видам деятельности, на&nbsp;формирование социально значимых качеств личности обучающихся, ключевых базовых ценностей: Родина, семья, природа, дружба, труд, милосердие. 
						p В&nbsp;течение года обучающиеся под руководством учителей могут принять участие в&nbsp;коллективных творческих делах разных направленностей и&nbsp;достигнуть звания &laquo;Орлёнок&raquo; в&nbsp;7&nbsp;треках.
						+e.hidden-block
							p
								strong  1&nbsp;классы&nbsp;&mdash; начало реализации программы сентябрь 2022.  <br> Участие в&nbsp;треках со&nbsp;II&nbsp;четверти.
							ul 	
								li Вводный орлятский урок;
								li «Орлёнок - Эрудит»;
								li «Орлёнок - Доброволец»;
								li «Орлёнок - Мастер»;
								li «Орлёнок - Спортсмен»;
								li «Орлёнок - Хранитель исторической памяти»;
								li «Орлёнок - Эколог»;
								li «Орлёнок - Лидер».
							p
								strong 2-4 классы - срок реализации программы с октября 2022 года.
							ul
								li Вводный орлятский урок;
								li «Орлёнок - Лидер»;
								li «Орлёнок - Эколог»;
								li «Орлёнок - Эрудит»;
								li «Орлёнок - Мастер»;
								li «Орлёнок - Спортсмен»;
								li «Орлёнок - Доброволец»;
								li «Орлёнок - Хранитель исторической памяти»


							p Участником программы может стать начальный класс любой общеобразовательной организации России.

							p
								strong Что сделать, чтобы стать участником:
							
							.mb-2 ✅ Классному руководителю необходимо быть зарегистрированным на сайте РДШ.РФ;
							.mb-2 ✅ Заполнить и загрузить Согласие на обработку персональных данных, если ещё не загружено;
							.mb-2 ✅ Подать заявку на регистрацию;
							.mb-2 ✅ После одобрения заявки добавьте детей в «Кабинет педагога начальных классов» и задания по трекам» и «Если у вас что-то не получается, воспользуйтесь инструкциями:
								br
								a(href="https://disk.yandex.ru/i/wMSW7Ai9ONlGVg" target="_blank").ms-2 -  Подача заявки на проект Орлята России 
								br
								a(href="https://disk.yandex.ru/i/cGhbXDA1Gq6N6w" target="_blank").ms-2 -  Кабинет педагога начальных классов



						+e.showmore Подробнее
							+icon('chevron-down')
				.col-lg-6
					+e.item(href="https://xn--80aqajoclckag9m.xn--p1ai/umk_2022.pdf" target="_blank")
						p #[span Учебно-методический]  комплекс Программы развития социальной активности обучающихся начальных классов «Орлята России»

					+e.item(href="https://рдш.рф/competition/2686" target="_blank" )

						p #[span Методические материалы ] Программы развития социальной активности обучающихся начальных классов &laquo;Орлята России&raquo;
					
					//- +e.item.d-none(href="methodological_materials_on_website.pdf" data-fancybox='pdf')
					+e.item(href="https://center-orlyonok.ru/RU/or")
						+img('img/sContent-img-2.png').wing-left
						p #[span Дополнительная  ] профессиональная программа повышения квалификации учителей начальных классов по&nbsp;подготовке к&nbsp;реализации программы &laquo;Орлята России&raquo;
						+img('img/sContent-img-1.png').wing-right
	// end sContent