mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6
					+b.section-title
						h2 Программа  <br>
							span «Орлята России»
					+e.main
						p Программа развития социальной активности обучающихся начальных классов &laquo;Орлята России&raquo;.  
						p ППрограмма разработана в&nbsp;рамках реализации федерального проекта &laquo;Патриотическое воспитание граждан Российской Федерации&raquo; национального проекта &laquo;Образование&raquo; с&nbsp;целью удовлетворения потребностей младших школьников в&nbsp;социальной активности и&nbsp;направлена на&nbsp;развитие и&nbsp;поддержание интереса к&nbsp;учебным и&nbsp;внеурочным видам деятельности, на&nbsp;формирование социально значимых качеств личности обучающихся, ключевых базовых ценностей: Родина, семья, природа, дружба, труд, милосердие. 
						+e.hidden-block
							p В&nbsp;течение года обучающиеся под руководством учителей могут принять участие в&nbsp;коллективных творческих делах разных направленностей и&nbsp;достигнуть звания &laquo;Орлёнок&raquo; в&nbsp;7&nbsp;треках: 
							ul 	
								li Орлёнок&nbsp;&mdash; эрудит&raquo;
								li Орлёнок&nbsp;&mdash; хранитель исторической памяти&raquo;
								li Орлёнок&nbsp;&mdash; мастер&raquo;
								li Орлёнок&nbsp;&mdash; лидер&raquo; 
								li Орлёнок&nbsp;&mdash; спортсмен&raquo;
								li Орлёнок&nbsp;&mdash; доброволец&raquo;
								li Орлёнок&nbsp;&mdash; эколог&raquo;
							p Программа реализуется с&nbsp;октября 2021&nbsp;года. 

							p Участником программы может стать начальный класс любого общеобразовательного учреждения России
						+e.showmore Подробнее
							+icon('chevron-down')
				.col-lg-6
					+e.item(href="#")
						p #[span Положение] о&nbsp;Программе развития социальной активности обучающихся начальных классов &laquo;Орлята России&raquo;
					+e.item(href="#")
						p #[span Методические материалы ] Программы развития социальной активности обучающихся начальных классов &laquo;Орлята России&raquo;
					+e.item(href="https://center-orlyonok.ru/RU/or")
						+img('img/sContent-img-2.png').wing-left
						p #[span Дополнительная  ] профессиональная программа повышения квалификации учителей начальных классов по&nbsp;подготовке к&nbsp;реализации программы &laquo;Орлята России&raquo;
						+img('img/sContent-img-1.png').wing-right
	// end sContent