mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		//- .container
		.row
			+e.col.col-3.col-sm-2
				a(href="https://center-orlyonok.ru/") 
					+img('img/logo.png').img-width
			+e.col.col-3.col-sm-auto.ms-auto
				a(href="https://edu.gov.ru/") 
					+img('img/topLine-img-1.png')
			+e.col.col-3.col-sm-auto
				a(href="https://xn--d1axz.xn--p1ai/") 
					+img('img/topLine-img-3.png').topLine-img-3
			+e.col.col-3.col-sm-auto
				a(href="https://center-orlyonok.ru/") 
					+img('img/topLine-img-2.png')
	// end topLine